html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 1em;
}

p,
ul,
ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}

/* navbar */
.navbar {
  background-color: blue;
  padding: 5px;
  border-radius: 10px;
}

.navbar menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: #f8f806;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

/* code block */
pre {
  background-color: #f1f5f9;
  overflow-x: auto;
  padding: 16px;
  border-radius: 10px;
}

code {
  color: gray;
  font-family: monospace;
}
